<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /indiv/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /indiv/index.php [L]
RewriteCond %{HTTPS} 
RewriteRule ^/?$ http://%{SERVER_NAME}/indiv/ [R=301]
RewriteRule ^indiv/?$ http://%{SERVER_NAME}/indiv/ [R=301,L]
</IfModule>